{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QUOTATION</title>
    <link rel="stylesheet" href="{% static 'css/invoice.css' %}" media="all" />
  </head>
  <body>
    <main>
      <h1  class="header clearfix"><small><span>Sparc Systems</span><br />Limited</small>  <small><span>QUOTATION</span><br/>{{ date }}</small></h1>
      <table>
        <thead>
          <tr>
            <th class="service">PART</th>

            <th>PRICE</th>
            <th>QTY</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for part in parts %}
          <tr>
            {% for field in part %}
            <td class="service">{{ field }} </td>
            {% endfor %}
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3" class="grand total">SUB TOTAL</td>
            <td class="grand total">MK{{ sub_total }}</td>
          </tr>
          <tr>
            <td colspan="3" class="grand total">VAT</td>
            <td class="grand total">16.5%</td>
          </tr>
          <tr>
            <td colspan="3" class="grand total">GRAND TOTAL</td>
            <td class="grand total">MK{{ grand_total }}</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
