
{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}

<body class="login_register_body">
        <div class="container">
            <div class="row marl login_row">
                <div class="col-md-offset-4 col-md-4 col-md-offset-4">
                    <div class="login_block">
                        <div class="login_form_block">
                            <div class="welcome">Select an Excel file to upload</div>
                            {% if form.errors %}
                            <p>Something is wrong with your file</p>
                            {% endif %}
                            <form action="" enctype="multipart/form-data"  method="post">
                                
                                    {{ form.file }}
                                
                                {% csrf_token %}
                            
        
                            <button type="submit" class="btn btn-default">Generate Quotation</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="js/jquery.min.js"></script>-->
        

       





<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

{% endblock %}
