.add-row{
    background-color: #4CAF50; /* Green */
    border-radius: 3%;
    color: white;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.delete-row{
    background-color: #DC6A26; /* Green */
    border-radius: 3%;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.submit-formset{
    background-color: #43A8E7; /* Green */
    border-radius: 3%;
    color: white;
    padding: 10px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

header .navbar-default .navbar-nav .open a{
    background: #012967 !important;
    color: #ffffff;
}
.dropdown-menu{
    padding: 0 0 0 0 !important;
}
.inputfile{
    display: block;
    background-color: #A2A8A2 !important;
    padding: 12px 13px !important;
    width: 100% !important;
    text-align: center !important;
}
button .btn .btn-default{
    background: #6387ed !important;
}