//colors
$white: #fff;
$body_bg: #808080;
$login_bg:#fff;
$text_color:#5a6e79;
$text_color2:#7E849D;
$text_color3:#aaa;
$color_cyan_aqua_approx: #00e5ff;
$color_screamin_green_approx: #7eea51;
$color_apricot_peach_approx: #f6cdab;
$color_blue_dianne_approx: #273e48;
$color_cerise_red_approx: #e92064;
$login_btn_bg: #012967;;
$green:#41B871;
$dark_sky:#099CBE;
$dark_yellow:#FEA124;
$inner_page_bg:#CDCDCD;

//fonts
$font_0: Poppins;
$font_1: sans-serif;