{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QUOTATION</title>
    <link rel="stylesheet" href="{% static 'css/invoice.css' %}" media="all" />
  </head>
  <body>
    <main>
      <h1  class="header clearfix"><small><span>Sparc Systems</span><br />Limited</small>  <small><span>QUOTATION</span><br/>{{ date }}</small></h1>
      <table>
        <thead>
          <tr>
            <th class="service">PART</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>QTY</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for value in quote %}
          <tr>
            <td class="service">{{ value.fpart }} </td>
            <td class="service">{{ value.fdescription }}</td>
            <td class="unit">{{ value.funit_price }}</td>
            <td class="qty"> {{ value.fquantity }}</td>
            <td class="total">{{ value.ftotal_price }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4" class="grand total">SUBTOTAL</td>
            <td class="grand total">{{ total }}</td>
          </tr>
          <tr>
            <td colspan="4" class="grand total">VAT</td>
            <td class="grand total">16.5%</td>
          </tr>
          <tr>
            <td colspan="4" class="grand total">GRAND TOTAL</td>
            <td class="grand total">MK{{ grand_total }}</td>
          </tr>
        </tbody>
      </table>

    </main>
  </body>
</html>
