{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}


<div class="filter_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
{% for sale_form in sale_formset %}
                <div class="sale-formset">

                    {{ sale_form.part }}

                    {{ sale_form.description }}

                    {{ sale_form.quantity }}

                    {{ sale_form.unit_price }}

                    {{ sale_form.total_price }}
                  </div>
            {% endfor %}
      </div>
    </div>
</div>

{% endblock %}