{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block content %}

<div class="filter_row row marl">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>

        <form method="post">
            {% csrf_token %}
            {{ sale_formset.management_form }}
            {% for sale_form in sale_formset %}
                <div class="sale-formset">
                  <div class="filter_row row_marl item_row">
                  <div class="filter_col col-md-3">
                    <div class="form-group">
                        {% if sale_form.errors %}
                        {% for error in sale_form.part.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}
                      {{ sale_form.part}}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                        {% if sale_form.errors %}
                        {% for error in sale_form.part.description %}
                            {{ error|escape }}
                        {% endfor %}
                        {% endif %}
                      {{ sale_form.description }}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      {{ sale_form.quantity }}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                    {{ sale_form.unit_price }}
                    </div>
                  </div>
                </div>

                <div class="filter_row row_marl item_row">

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      {{ sale_form.markup }}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      {{ sale_form.duty }}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      {{ sale_form.shipment }}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      {{ sale_form.installation }}
                    </div>
                  </div>

                  <div class="filter_col col-md-3">
                    <div class="form-group">
                      {{ sale_form.total_price }}
                    </div>
                  </div>
                </div>
              </div>
             
                {% endfor %}
            <input class="submit-formset" type="submit" value="Submit"/>
        </form>

      </div>
    </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
    $('.sale-formset').formset({
        addText: 'add another',
        deleteText: 'remove'
    });
</script>
{% endblock %}
